---
layout: default
permalink: /contact/
description: "Ready to collaborate? Get in touch with Prathamesh Sable. Find contact details and connect to discuss your
project needs or explore potential opportunities."
title: Contact | Prathamesh Sable
---

<!-- include header -->
{% include navbar.html %}

<!--================Home Banner Area =================-->
<section class="banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
		</div>
		<div class="container">
			<div class="banner_content text-center">
				<h2>Contact Me</h2>
				<div class="page_link">
					<a>Home</a>
					<a>Contact Me</a>
				</div>

			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->


<!--================Contact Area =================-->
<section class="contact_area p_120" id="contactForm">
	<div class="container">
		<div class="main_title">
			<h2>Connect Form
				<div class="output activeaboutcontact" id="">
					<h1 class="cursor"></h1>
					<p></p>
				</div>
			</h2>
			<p>Feel <b>Free </b> to Fill </p>
		</div>

		<!-- <div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="13"
				data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia." data-mlat="40.701083"
				data-mlon="-74.1522848">
				
			</div> -->
		<div style="margin-bottom: 40px;">
			<div class="row ">
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<i class="lnr lnr-home"></i>
							<h6>{{ site.data.vars.about.location }}</h6>
							<p>Pin - {{ site.data.vars.about.pin_code }}</p>
						</div>
						<!-- <div class="info_item">
							<i class="lnr lnr-phone-handset"></i>
							<h6><a>+91 </a></h6>
							<p>Mon to Fri 9am to 6 pm</p>
						</div> -->
						<div class="info_item">
							<i class="lnr lnr-envelope"></i>
							<h6><a href="{{ site.data.vars.social.email.url }}">{{ site.data.vars.social.email.id }}</a>
							</h6>
							<p>Send me your suggestions anytime!</p>
						</div>
					</div>
				</div>
				<iframe name="hidden_iframe2" id="hidden_iframe2" style="display:none;" onload=""></iframe>

				<div class="col-lg-9 ">
					<!-- https://docs.google.com/forms/d/e/1FAIpQLScaRpCGeC_rgsJxMffZoI3MQ6yLGPfL1BCwT74WWU3RwPCG6w/viewform?usp=pp_url&entry.740322995=myname&entry.216367613=my@email&entry.1502902599=musub&entry.381632486=mymessage -->

					<form class="row contact_form" name="gform2" id="gform2" enctype="text/plain"
						action="https://docs.google.com/forms/d/e/1FAIpQLScaRpCGeC_rgsJxMffZoI3MQ6yLGPfL1BCwT74WWU3RwPCG6w/formResponse?"
						target="hidden_iframe2" onsubmit="submittedcontact=true;">
						<div class="col-md-6">
							<div class="form-group bordercard">
								<input type="text" class=" form-control" id="entry.740322995" name="entry.740322995"
									placeholder="Enter your name">
							</div>
							<div class="form-group bordercard">
								<input type="email" class="form-control" id="entry.216367613" name="entry.216367613"
									placeholder="Enter email address">
							</div>
							<div class="form-group bordercard">
								<input type="text" class="form-control" id="entry.1502902599" name="entry.1502902599"
									placeholder="Enter Subject">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group bordercard">
								<textarea class="form-control" name="entry.381632486" id="entry.381632486" rows="1"
									placeholder="Enter Message"></textarea>
							</div>
						</div>
						<div class="col-md-12 text-center">
							<button id="feedbacksubmit" type="submit" value="submit" class="btn submit_btn">Send
								Feedback</button>
						</div>
					</form>
					<div class="submitcard center displaynone" id="info2">


						<p class="card-p"><img src="/img/socialmedia/sucesstick.svg" alt="">
						<h1>Thank You!</h1>The form submitted successfully.</p>


					</div>
				</div>
			</div>
		</div>
		<div class="mapBox">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7570.970918391455!2d73.8807999265514!3d18.53616297649299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c0f855581855%3A0x9bfc35605df36ec5!2sModern%20Education%20Society&#39;s%20College%20of%20Engineering%20(MESCOE)!5e0!3m2!1sen!2sin!4v1671772742737!5m2!1sen!2sin"
				width="100%" height="100%" style="border:0;" allowfullscreen="yes" loading="fast"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
</section>
<!--================Contact Area =================-->


<!-- <style>
		#ovrly {
			background-color: #000;
			height: 100vh;
			width: 100vw;
			position: fixed;
			top: 0px;
			left: 0px;
			opacity: 0.7;
		}

		#login {
			background-color: #fff;
			width: 30%;
			margin: auto;
			border: 3px solid #2ecc71;
			border-radius: 10px;
			padding: 20px;
			text-align: center;
			position: relative;
			top: -310px;
		}

		#ovrly,
		#login {
			display: none;
		}

		#cross {
			position: absolute;
			left: 94%;
			top: 0px;
			color: #cc2e2e;
			font-size: 18;
			font-weight: bold;
			background-color: transparent;
			border: 0
		}
	</style>
	<div id="ovrly"></div>
	<div id="login">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
					<h2>Thank you</h2>
					<p>Your message is successfully sent...</p>
				</div>
			</div>
		</div>
	</div> -->



<!--================Feature Area =================-->
<section class="feature_area p_120" id="socialMediaLinks">
	<div class="container">
		<div class="main_title">
			<h2>Connect with Me On
				<div class="output activeaboutcontact" id="output">
					<h1 class="cursor"></h1>
					<p></p>
				</div>

			</h2>
			<p>Here are the Links </p>
		</div>
		<div class="feature_inner row">
			<div class="col-lg-4 col-md-6 ">
				<div class="feature_item center bordercard">
					<i class="w-25 m-auto">
						<img class="m-1" src="/img/socialmedia/linkedin.svg" alt="">
					</i>
					<h4>LinkedIn</h4>
					<h6>@{{ site.data.vars.social.linkedin.username }} </h6>
					<p>
						<a target="_blank" href="{{ site.data.vars.social.linkedin.url }}"
							class="genric-btn success-border circle">Connect</a>

					</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="feature_item center bordercard">
					<i class="w-25 m-auto ">
						<img class="m-1" src="/img/socialmedia/instagram.svg" alt="">
					</i>
					<h4>Instagram</h4>
					<h6>@{{ site.data.vars.social.instagram.username }} </h6>
					<p>
						<a target="_blank" href="{{ site.data.vars.social.instagram.url }}"
							class="genric-btn success-border circle">Follow</a>

					</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="feature_item center bordercard">
					<i class="w-25 m-auto ">
						<img class="m-1" src="/img/socialmedia/twitter.svg" alt="">
					</i>
					<h4>Twitter</h4>
					<h6>@{{ site.data.vars.social.twitter.username }} </h6>
					<p>
						<a target="_blank" href="{{ site.data.vars.social.twitter.url }}"
							class="genric-btn success-border circle">Follow</a>

					</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="feature_item center bordercard">
					<i class="w-25 m-auto ">
						<img class="m-1" src="/img/socialmedia/facebook.svg" alt="">
					</i>
					<h4>facebook</h4>
					<h6>@{{ site.data.vars.social.facebook.username }} </h6>
					<p>
						<a target="_blank" href="{{ site.data.vars.social.facebook.url }}"
							class="genric-btn success-border circle">Follow</a>

					</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="feature_item center bordercard">
					<i class="w-25 m-auto ">
						<img class="m-1" src="/img/socialmedia/github.svg" alt="">
					</i>
					<h4>Github</h4>
					<h6>@{{ site.data.vars.social.github.username }} </h6>
					<p>
						<a target="_blank" href="{{ site.data.vars.social.github.url }}"
							class="genric-btn success-border circle">Follow</a>

					</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="feature_item center bordercard">
					<i class="w-25 m-auto ">
						<img class="m-1" src="/img/socialmedia/gmail.svg" alt="">
					</i>
					<h4>Gmail</h4>
					<h6>{{ site.data.vars.social.email.id }} </h6>
					<p>
						<a target="_blank" href="{{ site.data.vars.social.email.url }}"
							class="genric-btn success-border circle">Mail</a>

					</p>
				</div>
			</div>

			<!-- <div class="col-lg-4 col-md-6">
					<div class="feature_item center bordercard">
						<i class="w-25 m-auto ">
							<img class="m-1" src="/img/socialmedia/" alt="">
						</i>
						<h4></h4>
						<p>
							<a target="_blank" href="" class="genric-btn success-border circle">Follow</a>

						</p>
					</div>
				</div> -->

		</div>
	</div>
</section>
<!--================End Feature Area =================-->

<section style="margin-top: 30px;" id="testimonial">
	<div class="container">
		<div class="main_title">
			<h2>Give Testimonial
				<div class="output activeaboutcontact" id="">
					<h1 class="cursor"></h1>
					<p></p>
				</div>
			</h2>
		</div>
		<div class="feedbackrow">
			<div class="col-lg-6">
				<div class="">
					<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload=""></iframe>

					<div class="featurecard  bordercard">
						<h3 class="mb-30 title_color">Write Me Testimonials</h3>
						<form name="gform" id="gform" enctype="text/plain"
							action="https://docs.google.com/forms/d/e/1FAIpQLSfAjvzCO1fiQfSh1V3ubTfinCfIwRhtM0Xsv-lwIDPEpz2sMw/formResponse?"
							target="hidden_iframe" onsubmit="submitted=true;">
							<div class="mt-10">
								<input type="text" name="entry.1806678454" id="entry.1806678454" placeholder="Name"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required
									class="single-input bordercard">
							</div>

							<div class="mt-10">
								<input type="email" name="entry.1780327417" id="entry.1780327417"
									placeholder="Email address" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Email address'" required
									class="single-input bordercard">
							</div>

							<div class="mt-10">
								<textarea class="single-textarea bordercard" name="entry.1400185441"
									id="entry.1400185441" placeholder="What You Think About Me"
									onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'What You Think About Me'" required></textarea>
							</div>
							<input type="text" name="entry.189461409" id="entry.189461409" class="single-input-primary"
								value="5" max="5" hidden>
							<div class="mt-10 mb-2">
								<label class="mb-0" for="">Rating</label>
								<div class="p-1 ml-2 mt-0 pt-0 row w-25" style="flex-wrap: nowrap !important;">
									<a class="" style="color: #ffc000;" onclick="setrating('1')"><i id="rating_star_1"
											class="fa fa-star-o"></i></a>
									<a class="" style="color: #ffc000;" onclick="setrating('2')"><i id="rating_star_2"
											class="fa fa-star-o"></i></a>
									<a class="" style="color: #ffc000;" onclick="setrating('3')"><i id="rating_star_3"
											class="fa fa-star-o"></i></a>
									<a class="" style="color: #ffc000;" onclick="setrating('4')"><i id="rating_star_4"
											class="fa fa-star-o"></i></a>
									<a class="" style="color: #ffc000;" onclick="setrating('5')"><i id="rating_star_5"
											class="fa fa-star-o"></i></a>
								</div>
							</div>

							<div class="row center">

								<button type="submit" class="genric-btn success-border radius col-lg-5 m-3">Submit
									Testimonial</button>

								<button type="reset" class="genric-btn danger-border radius col-lg-5 m-3"
									onclick="setrating('0');">Reset Form</button>
							</div>
						</form>
						<div class="submitcard center displaynone" id="info">

							<p class="card-p"><img src="/img/socialmedia/sucesstick.svg" alt="">
							<h1>Thank You!</h1>The form submitted successfully.</p>


						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 ">
				<div class="rightimage" id="icons8illustration">
					<img class="imagefeedback" src="/img/banner/feedback-animation.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Footer -->
{% include footer.html %}

<!-- Credits -->
<div style="display: flex; justify-content: right;width: 95%;">

	{% include credits.html %}
	<strong> | </strong>
	<p style="font-size: 9px;max-height: 9px;">
		|<a style="color: black;" href="#icons8illustration"> Illustration by </a> <a
			href="https://icons8.com/illustrations/author/7WmtYU90j36d">Fruzka</a> from <a
			href="https://icons8.com/illustrations">Ouch!</a>
	</p>
</div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">var submitted = false;</script>
<script type="text/javascript">
	document.getElementById("contactnavlink").classList.add("activenav");

	$('#gform').on('submit', function (e) {
		document.getElementById("gform").style.display = 'none';
		document.getElementById("info").classList.remove("displaynone");
		// document.getElementById("info").innerHTML = "Form Submitted Sucessfully.";

	});
	$('#gform2').on('submit', function (e) {
		document.getElementById("gform2").style.display = 'none';
		document.getElementById("info2").classList.remove("displaynone");
		// document.getElementById("info2").innerHTML = "Form Submitted Sucessfully.";
	});

	function setrating(rating) {
		document.getElementById("rating_star_1").classList.remove("fa-star");
		document.getElementById("rating_star_2").classList.remove("fa-star");
		document.getElementById("rating_star_3").classList.remove("fa-star");
		document.getElementById("rating_star_4").classList.remove("fa-star");
		document.getElementById("rating_star_5").classList.remove("fa-star");
		document.getElementById("rating_star_1").classList.remove("fa-star-o");
		document.getElementById("rating_star_2").classList.remove("fa-star-o");
		document.getElementById("rating_star_3").classList.remove("fa-star-o");
		document.getElementById("rating_star_4").classList.remove("fa-star-o");
		document.getElementById("rating_star_5").classList.remove("fa-star-o");
		if (rating == '1') {
			document.getElementById("rating_star_1").classList.add("fa-star");
			document.getElementById("rating_star_2").classList.add("fa-star-o");
			document.getElementById("rating_star_3").classList.add("fa-star-o");
			document.getElementById("rating_star_4").classList.add("fa-star-o");
			document.getElementById("rating_star_5").classList.add("fa-star-o");
			// document.getElementById("rate").setAttribute("value", "1");
		} else if (rating == '2') {
			document.getElementById("rating_star_1").classList.add("fa-star");
			document.getElementById("rating_star_2").classList.add("fa-star");
			document.getElementById("rating_star_3").classList.add("fa-star-o");
			document.getElementById("rating_star_4").classList.add("fa-star-o");
			document.getElementById("rating_star_5").classList.add("fa-star-o");
			// document.getElementById("rate").setAttribute("value", "2");
		} else if (rating == '3') {
			document.getElementById("rating_star_1").classList.add("fa-star");
			document.getElementById("rating_star_2").classList.add("fa-star");
			document.getElementById("rating_star_3").classList.add("fa-star");
			document.getElementById("rating_star_4").classList.add("fa-star-o");
			document.getElementById("rating_star_5").classList.add("fa-star-o");
			// document.getElementById("rate").setAttribute("value", "3");
		} else if (rating == '4') {
			document.getElementById("rating_star_1").classList.add("fa-star");
			document.getElementById("rating_star_2").classList.add("fa-star");
			document.getElementById("rating_star_3").classList.add("fa-star");
			document.getElementById("rating_star_4").classList.add("fa-star");
			document.getElementById("rating_star_5").classList.add("fa-star-o");
			// document.getElementById("rate").setAttribute("value", "4");
		} else if (rating == '5') {
			document.getElementById("rating_star_1").classList.add("fa-star");
			document.getElementById("rating_star_2").classList.add("fa-star");
			document.getElementById("rating_star_3").classList.add("fa-star");
			document.getElementById("rating_star_4").classList.add("fa-star");
			document.getElementById("rating_star_5").classList.add("fa-star");
		} else {
			document.getElementById("rating_star_1").classList.add("fa-star-o");
			document.getElementById("rating_star_2").classList.add("fa-star-o");
			document.getElementById("rating_star_3").classList.add("fa-star-o");
			document.getElementById("rating_star_4").classList.add("fa-star-o");
			document.getElementById("rating_star_5").classList.add("fa-star-o");

		}
		document.getElementById("entry.189461409").setAttribute("value", rating);
	}
</script>