---
layout: default
description: Hello, I am Prathamesh Sable, a skilled and experienced programmer. Here, you'll find a showcase of my past projects and technical skills.
title: Experience | Prathamesh Sable
---

<!-- include header -->
{% include navbar.html %}

<!--================Home Banner Area =================-->
<section class="banner_area">
	<div class="banner_inner d-flex align-items-center">
		<!-- <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
				data-background=""></div> -->
		<div class="container">
			<div class="banner_content text-center">
				<h2>My Work Experience</h2>
				<div class="page_link">
					<a class="edudetails">Home</a>
					<a class="edudetails">Experience</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!-- display experience which is public -->
{% assign experiences = site.experiences | where: "is_public", true %}

<!-- check if any experience available or not -->
{% if experiences.size == 0 %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="portfolio_right_text">
				<h4>No experience Available</h4>
				<p>Sorry, there is no experience available at this time.</p>
			</div>
		</div>
	</div>
</div>
{% else %}
<!-- display all experiences -->
<section class="portfolio_details_area ">
	<div class="container m-auto">

		{% assign sortedExperiences = experiences | sort: 'rank' | 'reverse' %}
		{% for experience in sortedExperiences %}
		<!-- ***** experience start -->
		<div class="portfolio_details_inner experiancedetails">

			<div class="row" style="margin-bottom: 0;">
				<div class="col-md-3">
					<div class="left_img">
						<img class="img-fluid" src="{{ experience.company_logo }}" alt="experience Image">
					</div>
				</div>
				<div class="col-md-6">
					<div class="portfolio_right_text" style="padding-left: 20px;">
						<h4>{{ experience.designation }}</h4>
						<h5>{{ experience.company_name }}, {{ experience.location }}</h5>
						<p style="margin-bottom: 0px;">
							<span class="badge badge-secondary" style="font-size:small;">{{ experience.type }}</span>
						</p>
						<p style="margin-bottom: 0px;">
							<span>{{ experience.start_date }} - {% if experience.is_completed %}
								{{ experience.end_date }}
								{% else %}
								Present
								{% endif %}
							</span>
						</p>
						{% if experience.technology_used.size > 0 %}
						<p style="margin-bottom: 0px;"><span class="font-bold"> Skills Used</span>:
							{{ experience.technology_used | join: ", " }}
						</p>
						{% endif %}

					</div>
				</div>

				<div class="col-md-3">

					<p class="mt-2 mb-0">
						{% if experience.is_certified %}
						<a target="_blank" href="{{ experience.certificate_link }}"
							class="genric-btn btn-primary info-border m-3">View
							Certificate</a>
						{% endif %}
					</p>

					<p>
						{% if experience.company_link_available %}
						<a target="_blank" href="{{ experience.company_link }}"
							class="genric-btn info-border m-3">Company
							Details</a>
						{% endif %}
					</p>
				</div>
			</div>

			<div class="" style="margin-bottom: 0; padding: 0 10%;">

				<!-- <div class="col-md-6"> -->
				{% if experience.details_list.size > 0 %}
				<h5> {{experience.details_header}}</h5>

				<p style="margin-bottom: 0px;">
				<ul>
					{% for responsibility in experience.details_list %}
					<li>{{ responsibility }}</li>
					{% endfor %}
				</ul>
				</p>
				{% endif %}

			</div>



		</div>
		<!-- ***** experience end -->
		{% endfor %}

	</div>
</section>
{% endif %}

<!-- include footer -->
{% include footer.html %}

<!-- Credits -->
<div style="display: flex; justify-content: right;width: 95%;">
	{% include credits.html %}
</div>

<script>
	document.getElementById("experiencenavlink").classList.add("activenav");
</script>