---
layout: default
description: Hello, I am Prathamesh Sable, a skilled and experienced programmer with a passion for creating innovative software solutions. Here, you'll find a showcase of my past projects and technical skills.
title: Prathamesh Sable
---

<!-- include header -->
{% include navbar.html %}
<!--================Home Banner Area =================-->
<section class="home_banner_area">
	<div class="banner_inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="home_left_img">
						<img src="/img/banner/home-left-1.png" alt="">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="banner_content">
						<h5>Hi, This is me</h5>
						<h2>Prathamesh Sable</h2>
						<p> <strong>Welcome!</strong>
							I am a skilled and experienced programmer with a passion for creating innovative software
							solutions.
							Currently, I am an Undergraduate Student at MESCOE,Pune. I have developed a diverse range of
							skills in
							Programming Languages & Technologies. I am excited to continue growing as a programmer and to take
							on new
							challenges.
							<br />
							<i style="color: #8490ff;">
								Thank you for visiting, I would like to connect with you!
							</i>
						</p>
						<a class="banner_btn" href="{{ site.data.vars.resume.link }}"
							download="{{ site.data.vars.resume.name }}">Download My Resume</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
	<div class="container">
		<div class="row welcome_inner">
			<div class="col-lg-6">
				<div class="welcome_text">
					<h4>About Myself</h4>
					<p class="sample-text-justify">
						<strong>About:</strong> {{ site.data.vars.about.bio }}
						<br />
						<strong>Languages Known:</strong> {{ site.data.vars.about.languages | join: ', ' }}
						<br />
						<strong>Interests:</strong> {{ site.data.vars.about.interests | join: ', ' }}
						<br />
						<strong>Education:</strong> {{ site.data.vars.about.education }}
						<br />
						<strong>Address:</strong> {{ site.data.vars.about.location }}, {{ site.data.vars.about.pin_code }}
					</p>
					<div class="row">
						<div class="col-md-4">
							<div class="wel_item">
								<i class="lnr lnr-database"></i>
								<h4>{{ site.data.vars.experience_years }} Years</h4>
								<p>Experience</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="wel_item">
								<i class="lnr lnr-book"></i>
								<h4>{{ site.data.vars.total_projects }}</h4>
								<p>Total Projects</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="wel_item">
								<i class="lnr lnr-users"></i>
								<h4>{{ site.data.vars.total_connections }}+</h4>
								<p>Connections</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="tools_expert">
					<h3>My Skills</h3>
					<div class="skill_main">
						{% for skill in site.data.skills %}
						<div class="skill_item">
							<h4>{{ skill.name }} - <span class="counter">{{ skill.percentage }}</span>%</h4>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percentage }}"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
						{% endfor %}

						<!-- <div class="skill_item">
								<h4>Linux <span class="counter">75</span>%</h4>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Welcome Area =================-->

<!--================Feature Area =================-->
<section class="feature_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>What I know about ______?</h2>
			<p>If you are looking for My Specific Knowledge in Programming have a look here</p>
		</div>
		<div class="feature_inner row">
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					<div class="center">
						<img class="center" height="80" width="80" src="/img/proglang/pythoncolor.png"
							alt="Logo"><br><br>
						<h4>Python</h4>
					</div>
					<p>I am working with Python from last 3 Years. No doubt it is my first Programming Language. I
						know all the Important Concepts in python, and all basics are clear. I have used python in
						many of my projects.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					<div class="center">
						<img class="" height="80" width="80" src="/img/proglang/c++color.png" alt="Logo"><br><br>
						<h4>C / C++</h4>
					</div>
					<p>I am working in C/C++ from almost a year now,
						I have indepth understanding of object-oriented programming and other programming concepts
						as STL in C++. But yes there is lot to Explore as well.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					<div class="center">
						<img class="" height="80" width="80" src="/img/proglang/javacolor.png" alt="Logo">
						<br><br>
						<h4>Java</h4>
					</div>

					<p>I have just started learning Java so just Completed Java basics. On the way to learn much
						more. Soon I'll complete it.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					<div class="center">
						<img class="" height="80" width="80" src="/img/proglang/githubcolor.png" alt="Logo">
						<br><br>
						<h4>Git and Github</h4>
					</div>
					<p>I am working with Git and GitHub from last 2 Years. I have the sufficient Knowledge and hands
						on Experience working with version control softwares.</p>
				</div>
			</div>
			<!-- <div class="col-lg-4 col-md-6">
					<div class="feature_item">
												<div class="center">
													<i class="flaticon-skyline"></i>
						</div>
						<h4></h4>
						<p>If you are looking at blank cassettes on the web, you may be very confused at the difference
							in price. You may see some for as low as $17 each.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature_item">
						<i class="flaticon-sketch"></i>
						<h4>Concept Design</h4>
						<p>If you are looking at blank cassettes on the web, you may be very confused at the difference
							in price. You may see some for as low as $17 each.</p>
					</div>
				</div> -->
		</div>
	</div>
</section>
<!--================End Feature Area =================-->


<!--================Start Education Area =================-->
<section class="blog_area">
	<div class="container">
		<div class="main_title">
			<h2>Education</h2>
			<p>Which has helped me to develop and flourish throughout my life.</p>
		</div>
		<div class="blog_left_sidebar">
			<div class="">

				<article class="row blog_item" id="mescoepune">
					<div class="col-md-3">
						<div class="blog_info text-right">
							<div class="post_tag">
								<h3 class="active">Under Graduation</h3>
							</div>
							<ul class="blog_meta list">
								<li><a class="edudetails">From <!-- <i class="lnr lnr-arrow-down"></i> --></a></li>
								<li><a class="edudetails">Nov, 2021<i class="lnr lnr-calendar-full"></i></a></li>
								<li><a class="edudetails">To <!-- <i class="lnr lnr-arrow-down"></i> --></a></li>
								<li><a class="edudetails">Current<i class="lnr lnr-calendar-full"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-9">
						<div class="blog_post">
							<img class="eduimg" src="/img/edu/mescoe-1.png" alt="">
							<div class="blog_details col-md-8">
								<a href="https://mescoe.mespune.org/">
									<h2>Modern Education Society's College Of Engineering, Pune</h2>
								</a>
								<p>With the motto 'For the Spread of Light', Modern Education Society has been
									pioneering the education sector since its establishment in 1932. The MES college
									of engineering in particular was founded in 1999 with the aim of providing the
									best education to aspiring engineers in the nation."</p>
								<a href="https://mescoe.mespune.org/" class="blog_btn">Visit Website</a>
							</div>
						</div>
					</div>
				</article>

				<article class="row blog_item" id="jnvtuljapur">
					<div class="col-md-3">
						<div class="blog_info text-right">
							<div class="post_tag">
								<h3 class="active">Higher Secondary</h3>
								<h3 class="active">& Secondary</h3>
							</div>
							<ul class="blog_meta list">
								<li><a class="edudetails">From <!-- <i class="lnr lnr-arrow-down"></i> --></a></li>
								<li><a class="edudetails">July, 2017<i class="lnr lnr-calendar-full"></i></a></li>
								<li><a class="edudetails">To <!-- <i class="lnr lnr-arrow-down"></i> --></a></li>
								<li><a class="edudetails">May, 2021<i class="lnr lnr-calendar-full"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-9">
						<div class="blog_post">
							<img class="eduimg" src="/img/edu/jnvtuljapur-1.jpg" alt="">
							<div class="blog_details col-md-8">
								<a href="https://www.navodaya.gov.in/nvs/nvs-school/Osmanabad/en/home/">
									<h2>Jawahar Navodaya Vidyalaya,Tuljapur, Dist - Dharashiv (Osmanabad)</h2>
								</a>
								<p>JNV Osmanabad has proved a milestone in providing good quality Education to the
									student of the district. The team work here is an example of excellence, also by
									their dedication and hard work awaken the young in creative expressions and
									knowledge."</p>
								<a href="https://www.navodaya.gov.in/nvs/nvs-school/Osmanabad/en/home/"
									class="blog_btn">Visit Website</a>
							</div>
						</div>
					</div>
				</article>

				<article class="row blog_item">
					<div class="col-md-3">
						<div class="blog_info text-right">
							<div class="post_tag">
								<h3 class="active">Primary</h3>
							</div>
							<ul class="blog_meta list">
								<li><a class="edudetails">From <!-- <i class="lnr lnr-arrow-down"></i> --></a></li>
								<li><a class="edudetails">Aug, 2009<i class="lnr lnr-calendar-full"></i></a></li>
								<li><a class="edudetails">To <!-- <i class="lnr lnr-arrow-down"></i> --></a></li>
								<li><a class="edudetails">Jun, 2017<i class="lnr lnr-calendar-full"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-9">
						<div class="blog_post">
							<img class="eduimg" src="/img/edu/rhsbhoom-1.jpg" alt="">
							<div class="blog_details col-md-8">
								<a>
									<h2>Ravindra High School, Bhoom, Dist - Osmanabad</h2>
								</a>
								<p>In 1971, Ravindra High School was launched. This school's primary medium of
									instruction is Marathi. The school tries to provide best learning
									environment.This school runs classes from 1 to 10 to provide education to
									students. The school has given exceptional results in the academic sphere and
									its students have excelled in extra co-curricular activities too."</p>
								<!-- <a class="blog_btn">Visit Website</a> -->
							</div>
						</div>
					</div>
				</article>

			</div>
		</div>
	</div>
</section>
<!--================End Education Area =================-->



<!--================Testimonials Area =================-->
<!-- <section class="testimonials_area p_120">
		<div class="container">
			<div class="main_title">
				<h2>Testimonials</h2>
				<p>See what others think about me...</p>
				<p>If you want to write about me here then write me at <a
						href="/about_contact.html#testimonial"> This Form</a> or just send me a mail at
						 <a
						href="mailto:prathameshks2003@gmail.com">prathameshks2003@gmail.com</a></p>
			</div>
			<div class="testi_inner">
				<div class="testi_slider owl-carousel">

					<div class="item">
						<div class="testi_item">
							<p>This is a sample space</p>
							<h4>No Content</h4>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star-half-o"></i></a>
						</div>
					</div>

					<div class="item">
						<div class="testi_item">
							<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth.
								If you think about it, you travel across her face</p>
							<h4>Fanny Spencer</h4>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star-half-o"></i></a>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</section> -->
<!-- ================End Testimonials Area ================= -->


<!-- Footer -->
{% include footer.html %}

<!-- Credits -->
<div style="display: flex; justify-content: right;width: 95%;">
	{% include credits.html %}
</div>
<script>
	document.getElementById("homenavlink").classList.add("activenav");
</script>