<!--================Footer Area =================-->
<footer class="footer_area " style="padding: 30px;">
    <div class="container">
        <div class="row footer_inner">
            <div class="col-lg-5 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h3>Prathamesh Sable</h3>
                        <p>Backend Web Developer,Python, C/C++ Programmer, GFG Campus Ambassador 2022, Learner</p>
                    </div>

                </aside>
            </div>

            <!-- blank div  -->
            <div class="col-lg-5 col-sm-6 " style="height: 0px;">
            </div>

            <!--================ news letter start================ -->

            <div class="col-lg-2 " style="padding-bottom: 10px;">
                <aside class="f_widget social_widget">
                    <div class="f_title">
                        <h3>Follow Me</h3>
                    </div>
                    <p>Let us be social</p>
                    <ul class="list " style="padding-bottom: 20px;">
                        <li><a href="{{site.variables.linkedin.url}}"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="{{site.variables.twitter.url}}"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="{{site.variables.instagram.url}}"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li><a href="{{site.variables.github.url}}"><i class="fa fa-github"></i></a></li>
                        <li><a href="{{site.variables.facebook.url}}"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>

        <div class="" style="padding-top: 20px;">
            <p>
                This is the portfolio website of Prathamesh Sable
            </p>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->