<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu" id="mainNav">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/"><img height="50" width="100" src="/img/meta/logo-small.png"
                        alt="PRATHAMESH"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item "><a class="nav-link main-nav-link" id="homenavlink" href="/">Home</a></li>
                        <!-- <li class="nav-item"><a class="nav-link main-nav-link" href="services.html">Services</a></li> -->
                        <li class="nav-item submenu dropdown ">
                            <a href="/projects.html" id="projectnavlink" class="nav-link dropdown-toggle main-nav-link"
                                data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">Projects</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link nav-highlight" href="/projects.html">All Projects</a></li>
                                {% assign sortedProjects = site.projects | sort: 'rank' %}
                                {% for project in sortedProjects %}
                                <!-- if project is public and is featured -->
                                {% if project.is_public and project.is_featured %}
                                <li class="nav-item"><a class="nav-link" href="{{ project.url }}">{{ project.title }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                        <!-- <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
									<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a>
									</li>
								</ul>
							</li> -->
                        <li class="nav-item"><a class="nav-link main-nav-link" id="contactnavlink" href="/contact.html">Contact Me</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->