<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta content="title" property="og:title">
    <meta name="description" content="{{ page.description }}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <!-- Favicon -->
    <link href="/img/meta/favicon.ico" rel="icon">
    <!-- canonical -->
    <link rel="canonical" href="{{site.url}}{{ page.url }}">
    <!-- Opengraph meta tags -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="{{site.url}}{{ page.url }}">
    <meta property="og:image" content="{{site.url}}/img/meta/og-image.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Prahtamesh's Portfolio">
    <meta property="og:locale" content="en_IN">
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{site.data.vars.social.twitter.username}}">
    <meta name="twitter:creator" content="@{{site.data.vars.social.twitter.username}}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{site.url}}/img/meta/twitter-image.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="/vendors/flaticon/flaticon.css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mycss.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>

<body>
    {% include navbar.html %}

    
	<div class="loader_div" id="loader_div" style="display: none;">
		<div class="loader_spinner" id="loader_spinner"></div>
		<div class="loader_text" id="loader_text">Loading...</div>
	</div>

    <section class="feature_area p_120">
        <div class="container">
            {{ content }}
        </div>
    </section>


    {% include footer.html %}
    {% include credits.html %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/stellar.js"></script>
    <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/vendors/isotope/isotope-min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <!--gmaps Js-->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/js/gmaps.min.js"></script> -->
    <script src="/js/theme.js"></script>
</body>

</html>